src/__pycache__/
src/text_proc_engine/__pycache__/
src/text_proc_engine/training/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll

venv/
env/
.venv/

# Model weights (large)
models/
!models/.keep
src/text_proc_engine/models

data/*.npy
data/*.tsv
data/*.txt
data/*.csv

.env
*.env
*.ini
*.cfg
*.config